{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react-app"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-node",
    "react-loadable/babel"
  ]
}
